body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header, footer {
  background-color: white !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.navbar {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 3rem;
  padding-left: 3rem;
}

@media screen and (max-width: 900px) {
  .navbar {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .user-edit {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .event {
    margin-left: 12px;
    margin-right: 1.5rem;
  }
}

main {
  min-height: 80vh;
  margin-top: 2rem;
}

footer {
  color: black;
}

footer a {
  margin-top: 4px;
  text-decoration: underline;
  color: #00C1D4;
}

.user-edit {
  margin-left: 5rem;
  margin-right: 5rem;
}

.event, .edit {
  margin-left: 5rem;
  margin-right: 5rem;
}

.edit {
  margin-bottom: 2rem;
}

.edit .btn {
  margin-top: 1rem;
} 